* {
  font-family: "JetBrainsMono Nerd Font Propo", "Symbols Nerd Font";
  font-weight: 600;
  font-size: 14px;
}

#waybar {
  background-color: #1F262B;
  border-bottom: 1px solid #E6E3DE;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
  margin-left: 16px;
}

#clock {
  background-color: transparent;
}

.modules-right {
  margin-right: 18px;
}

#tray menu {
  background-color: @surface;
}

#custom-seperator {
  margin: 0 -4px;
  opacity: 0.4;
  color: @outline;
}
